
/* Reseteo */
*{
  margin:0px;
  padding: 0px;
}

/* Variables*/
:root {
  --lav-light: #f2deff;
  --lav: #B57EDC;
  --lavhover: #775391;
}

/* Tipografía general */
body {
  font-family: raleway;
}

.bg-lav{

background-color:#f2deff ;
}

.btn-primary{
  background-color: #B57EDC;
  border-color: #B57EDC ;
  transition: all 0.2s ease-in-out;
}

.btn-primary:hover{
  background-color: #775391;
  border-color: #775391 ;
  transform: scale(0.9);
}


.accordion-button:focus{
  z-index: 3;
  border-color:#B57EDC;
  outline: 0;
  box-shadow: #f2deff ;
}




/* Footer */
footer {
  width: 100%;
  background: var(--lav);
  height: 100px;
  margin-top: 0px;
  display: flex;
  justify-content: center;
}

.anchoFooter {
  margin-top: 30px;
}

.redes {

  display: inline-block;
}

.bi-facebook {
  /* font-size: 30px; */
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  color: #fff;
}

.bi-facebook:hover {
  color: #3b5998;
}

.bi-whatsapp {
  /* font-size: 30px; */
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  color: #fff;
}

.bi-whatsapp:hover {
  color: #25D366;
}

.bi-instagram {
  /* font-size: 30px; */
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  color: #fff;
}

.bi-instagram:hover {
  color: #8a3ab9;
}



